<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>blog Page Add</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/register.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center pt-5 mt-5">Edit Blog Post</h1>

        <!-- Blog Form -->
        <div style="width: 500px;" class="mx-auto register-container">
            <form action="/my_BlogUpdate/<%= myBlogSingleRecEdit._id %>" method="post" class="mb-5" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="imgPath" class="form-label">Image URL :</label>
                    <input type="file" class="form-control" id="imgPath" name="imgPath" value="<%= myBlogSingleRecEdit.imgPath %>" placeholder="Enter image URL"
                        required>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username :</label>
                    <input type="text" class="form-control" id="username" name="userName" value="<%= myBlogSingleRecEdit.userName %>"
                        placeholder="Enter your username" required>
                </div>

                <div class="mb-3">
                    <label for="date" class="form-label">Date :</label>
                    <input type="date" class="form-control" id="date" name="date" value="<%= myBlogSingleRecEdit.date %>" required>
                </div>

                <div class="mb-3">
                    <label for="title" class="form-label">Title :</label>
                    <input type="text" class="form-control" id="title" name="title" value="<%= myBlogSingleRecEdit.title %>" placeholder="Enter blog title"
                        required>
                </div>
               
                <div class="mb-3">
                    <label for="description" class="form-label">Description :</label>
                    <textarea class="form-control" id="description" name="description" value="<%= myBlogSingleRecEdit.description %>" rows="5"
                        placeholder="Enter blog description" required></textarea>
                </div>
                <div class="d-flex justify-content-around">
                    <button type="submit" class="btn btn-primary">
                        Edit Blog
                    </button>
                    <a href="/" class="mx-4 btn btn-primary">Home Page</a>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>